.productImg {
    width: 200px;
}

.deleteBTN{
    border: none;
    padding: 5px;
    color: white;
    background-color: red;
    border-radius: 8px;
    font-size: 20px;
}

.submitBtn{
    border: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
}

.centerForm{
    margin: 20px auto;
    text-align: center;
}
.wishListBtn{
    border: none;
    padding: 5px;
    color: white;
    background-color: rgb(25, 0, 255);
    border-radius: 8px;
    font-size: 20px;
}
.detailBtn{
    border: none;
    padding: 5px;
    color: white;
    background-color: rgb(50, 122, 16);
    border-radius: 8px;
    font-size: 20px;
}